* {
  margin: auto;
  padding: 0;
}

h1 {
  text-align: center;
}

.widjet-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hole {
  width: 20%;
  height: 10vw;
  margin: 2%;
  border: 2px black solid;
  border-radius: 50%;
}